.diferenciais {
    margin: 0 auto;

}

.diferenciais h1 {
    text-align: left;
    color: black;
    margin-left: 90px;
    font-size: 58px;
    font-weight: 600;
}

.diferenciais h1 span {
    color: #f9a328;
}

.tracado {
    content: '';
    width: 20%;
    height: 1px;
    background-color: black;
}

.diferenciais-area {
    display: flex;
    align-items: center;
}

.diferenciais-box {
    display: flex;
    margin: 80px 0;
    justify-content: space-between;
}

.diferenciais-box img {
    width: 45%;
}

.diferenciais-box-texto {
    display: flex;
}


.diferenciais-box-texto ul {
    list-style: none;
    margin-bottom: 0;
}

.diferenciais-box-texto li {
    line-height: 50px;
    font-weight: 500;
    color: black;
    font-size: 20px;
    margin-left: 4rem;
}

.fa-circle {
    font-size: 12px;
    color: #ffa200;
    margin-right: 20px;
}


@media (max-width: 940px) {
    .diferenciais h1 {
        font-size: 50px;
    }
}

@media (max-width: 915px) {
    .diferenciais-box {
        flex-direction: column-reverse;
    }
    .diferenciais-box img {
        width: 100%;
    }
    .diferenciais-box-texto {
        margin-top: 40px;
        justify-content: center;
    }

}

@media (max-width: 875px) {
    .diferenciais-box-texto li {
        line-height: 45px;
        font-size: 17px;
        margin-left: 3rem;
    }
}

@media (max-width: 785px) {
    .diferenciais h1 {
        font-size: 44px;
    }
}


@media (max-width: 555px) {
    .diferenciais h1 {
        font-size: 40px;
        margin-left: 32px;
    }
}

@media (max-width: 485px) {
    .diferenciais-box-texto li {
        margin-left: 1rem;
    }
}