.sobre {
    margin: 0 auto;
    width: 70%;
}

.sobre-area {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.sobre-area-texto {
    width: 25%;
}

@media (max-width: 1024px) {
    .sobre-area-texto {
        width: 42%;
    }
}